version: '3.8'

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: mean-backend
    restart: always
    environment:
      - PORT=8080
      - MONGODB_URI=mongodb://mongo:27017/tutorials_db
    expose:
      - "8080"
    depends_on:
      - mongo

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: mean-frontend
    restart: always
    expose:
      - "80"
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: mean-nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:

